/* animation fade in*/
@keyframes FADE {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
/* background image body */
html{
    position: absolute;
    bottom: 0;
    height: 100vh;
    right: 0;
    width: 100%;
}
body{
    background-image: url(/Assets/Images/background.svg);
    background-size: 1900px;
    background-position: left 50% right 50% ;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    animation-name: FADE;
    animation-duration: 5s;
    height: 100vh;
}

main{
    height: 100vh;
}
/* mise en place de la nav */
nav{
    width: 100%;
    margin: auto;
    padding-top: 2%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 92%;
    margin: auto;
}

nav ul li{
    line-height: 25px;
    margin-left: 2%;
    width: 10%;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
    color: #C76C36;
    font-size: 25px;
}

/* hover des liens */
nav ul li a:hover {
    color: #8A3A89;
}

/* lien actif
nav ul li a:visited{
    color: #8A3A89;
}*/

/* Réduction du logo */

nav ul li a img{
    width: 100%;
    margin-left: 2%;
}

/* création du type bouton infolettre */

#bmenu{
    border: 3px solid #8A3A89;
    padding: 1%;
    border-radius: 100px;
    text-align: center;
}

#bmenu a{
    color: #8A3A89;
}

#bmenu a i{
    margin-right: 5%;
    color: #8A3A89;
}

/*hover bmenu */
#bmenu:hover{
    background-color: #C76C36;
    border: #C76C36;
}

#bmenu:hover a{
    color: white;
}

#bmenu:hover a i{
    color: white;
}

/* texte de présentation */
#partdroite{
    width: 100%;
    display: flex;
}

#présentation{
    margin-top: 2%;
    width: 100%;
}
#présentation h1{
    font-size: 40px;
    color: #C76C36;
    width: 50%;
    margin: auto;
}

#présentation h2{
    font-size: 20px;
    width: 50%;
    margin: auto;
    display: flex;
}

#présentation p{
    width: 50%;
    margin: auto;
    font-size: 20px;
}
/* mise en place de la nav à logo */
#présentation ul{
    margin-left: 19%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#présentation ul a{
    width: 17%;
    list-style: none;
}

/* design du bouton homme */
#boutonhome{
    margin-left: 25%;
    text-transform: uppercase;
    padding: 1% 2% 1% 2%;
    width: 20%;
    background-color: #8A3A89;
    text-align: center;
}

#bclic{
    text-decoration: none;
}

#boutonhome p{
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

/* réalisation du hover bouton home */
#boutonhome:hover{
    background-color: #C76C36;
}

/* mise en place de la grille */
#gridglobal{
    margin-right: 10%;
    width: 100%;
    display: flex;
    height: 20vh;
}

/* variation des hauteur de colonne */
.left{
    margin-top: 30%;
}

.right {
    margin-top: 15%;
}
/* mise en place de l'icône */
.left i.fas.fa-desktop{
    position: relative;
    bottom: 15%;
    font-size: 25px;
    background-color: rgb(0, 74, 158);
    padding:3%;
    color: white;
    z-index: 2;
}

.left i{
    position: relative;
    bottom: 15%;
    font-size: 25px;
    background-color: #C76C36;
    padding:3%;
    color: white;
    z-index: 2;
}

.right i{
    position: relative;
    bottom: 15%;
    font-size: 25px;
    background-color: #C76C36;
    padding:3%;
    color: white;
    z-index: 2;
}


#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#grid figure figcaption{
    z-index: 1;
    bottom: 24%;
    position: relative;
    background-color: rgba(138, 58, 137, 0.705);
    color: white;
    padding: 5px;
}

#grid figure figcaption h3{
    margin-left: 5%;
}

#grid figure figcaption p{
    margin-left: 5%;
}

#grid figure{
    width: 70%;
    height: 20vh;
}

#grid figure img{
    width: 100%;
}

/*hover figcaption */
#grid figure figcaption:hover{
    background-color: rgba(199, 107, 54, 0.705);
}

/* before figcaption catégorie */
figcaption p::before{
    content: '•';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: translate3d(0, -10%, 0);
    margin-right: .5em;
}
/* suppression du texte décoration  sur les colonnes */
.liencolonne{
    text-decoration: none;
}

/*design du deuxième bouton de la page d'acceuil*/
#boutonhome2{
    text-transform: uppercase;
    padding: 1% 2% 1% 2%;
    width: 50%;
    text-align: center;
    transition-duration: 1s;
    border: 5px solid #8A3A89;
    position: relative;
    left: 22%;
}

#bclic2{
    text-decoration: none;
    position: relative;
    left: 100%;
}

#boutonhome2 p{
    color: #8A3A89;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
}

#boutonhome2 p i{
    margin-right: 4%;
    font-size: 25px;
}
/* réalisation du hover du deuxième bouton home */
#boutonhome2:hover{
    background-color: #C76C36;
    border-radius: 50%;
    transform: scale(1.2);
    border: none;
}

#boutonhome2:hover p{
    color: white;
}
/* mise en place de la navigation sociaux */
#sociaux {
    width: 15%;
    height: 100vh;
    position: absolute;
    bottom: 0;
}
#sociaux ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    list-style: none;
    transform: rotate(270deg);
    position: absolute;
    bottom: 20%;
}

#sociaux ul i{
    color: #C76C36;
}

#sociaux ul li{
    text-transform: uppercase;
}
/*hover icônes */
#sociaux ul i:hover{
    color: #8A3A89;
}

/* barre de nav à droite */
aside#psuiv{
    height: 100vh;
    position: fixed;
    right: 0;
    bottom: 0;
}

#psuiv{
    background-color: #8A3A89;  
    width: 10%;
    position: absolute;
    bottom: 0;
    transition-duration: 1s;
}

#psuiv li{
    position: absolute;
    bottom: 50vh;
    width: 100%;
    list-style: none;
    transform: rotate(270deg);
}

#cliquable{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* réalisation du hover sur la barre de droite */
#psuiv:hover{
    background-color: #C76C36;
    width: 12%;
}

/* mise en place du footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    width: 30%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(255, 255, 255, 0.616);
    border-bottom: 3px solid #C76C36 ;
}

footer nav ul li{
    color: black;
    text-align: center;
}

footer nav ul li a{
    font-size: 20px;
}
/* after de la page active dans le menu */
#active::after{
    content: '▲';
    height: 1.5vh;
    display: block;
    color: #8A3A89;
}