
/* background image body */
html{
    position: absolute;
    bottom: 0;
    height: 100vh;
    right: 0;
    width: 100%;
}
body{
    background-image: url(/Assets/Images/background.svg);
    background-size: 1900px;
    background-position: left 40% right 50%;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    height: 100vh;
}
/* mise en place de la nav */
nav{
    width: 100%;
    margin: auto;
    padding-top: 2%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    margin: auto;
}

nav ul li{
    line-height: 25px;
    margin-left: 2%;
    width: 10%;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
    color: #C76C36;
    font-size: 25px;
}

/* hover des liens */
nav ul li a:hover {
    color: #8A3A89;
}

/* lien actif
nav ul li a:visited{
    color: #8A3A89;
}*/

/* Réduction du logo */

nav ul li a img{
    width: 100%;
    margin-left: 2%;
}

/* création du type bouton infolettre */

#bmenu{
    border: 3px solid #8A3A89;
    padding: 1%;
    border-radius: 100px;
}

#bmenu a{
    color: #8A3A89;
}

#bmenu a i{
    margin-right: 5%;
    color: #8A3A89;
}

/*hover bmenu */
#bmenu:hover{
    background-color: #C76C36;
    border: #C76C36;
}

#bmenu:hover a{
    color: white;
}

#bmenu:hover a i{
    color: white;
}

/* texte de présentation */
#présentation{
    margin-top: 10%;
}
#présentation h1{
    font-size: 40px;
    color: #C76C36;
    width: 50%;
    margin: auto;
}

#présentation h2{
    font-size: 30px;
    width: 50%;
    margin: auto;
}

#présentation p{
    width: 50%;
    margin: auto;
    font-size: 20px;
}
/* mise en place de lanv à logo */
#présentation ul{
    margin-left: 21%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

#présentation ul a{
    width: 17%;
    list-style: none;
}
/* mise en place de la navigation sociaux */

#sociaux {
    width: 15%;
    height: 100vh;
    position: absolute;
    bottom: 0;
}
#sociaux ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    list-style: none;
    transform: rotate(270deg);
    position: absolute;
    bottom: 20%;
}

#sociaux ul i{
    color: #C76C36;
}

#sociaux ul li a{
    color: #C76C36;
}

#sociaux ul li{
    text-transform: uppercase;
}
/*hover icônes */
#sociaux ul i:hover{
    color: #8A3A89;
}

/* barre de nav à droite */
aside#psuiv{
    height: 100vh;
    position: absolute;
    right: 0;;
}

#psuiv{
    background-color: #8A3A89;  
    width: 6%;
    position: absolute;
    bottom: 0;
    transition-duration: 1s;
}

#psuiv li{
    position: absolute;
    bottom: 50vh;
    width: 100%;
    list-style: none;
    justify-content: center;
    transform: rotate(270deg);
}

#cliquable{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

/* réalisation du hover sur la barre de droite */
#psuiv:hover{
    background-color: #C76C36;
    width: 8%;
}