
/* background image body */
body{
    background-image: url(/Assets/Images/background.svg);
    background-size: 1800px;
    background-position: top;
    background-repeat: no-repeat;
}
/* mise en place de la nav */
nav{
    width: 100%;
    margin: auto;
    padding-top: 2%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    margin: auto;
}

nav ul li{
    line-height: 25px;
    margin-left: 2%;
    width: 10%;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
    color: #C76C36;
    font-size: 25px;
}

/* hover des liens */
nav ul li a:hover {
    color: #8A3A89;
}

/* lien actif
nav ul li a:visited{
    color: #8A3A89;
}*/

/* Réduction du logo */

nav ul li a img{
    width: 100%;
    margin-left: 2%;
}

/* création du type bouton infolettre */

#bmenu{
    border: 3px solid #8A3A89;
    padding: 1%;
    border-radius: 100%;
}

#bmenu a{
    color: #8A3A89;
}

#bmenu a i{
    margin-right: 5%;
    color: #8A3A89;
}

/* mise en place de la navigation sociaux */
#sociaux {
    width: 10%;
    height: 100%;
}
#sociaux ul{
    display: flex;
    width: 20%;
    justify-content: space-around;
    font-size: 25px;
    list-style: none;
    transform: rotate(270deg);
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
}

#sociaux ul i{
    color: #C76C36;
}

#sociaux ul li a{
    color: #C76C36;
    margin-left: 50%;
}
/*hover icônes */
#sociaux ul i:hover{
    color: #8A3A89;
}

/* barre de nav à droite */
#psuiv{
    background-color: #8A3A89;  
    transform: rotate(270deg);
    position: relative;
    left: 50%;
    width: 100%;
    height: 10vh;
    transition-duration: 1s;
}

#psuiv li{
    text-align: center;
    width: 100%;
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

#psuiv a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    height: 100%;
    width: 50%;
    margin: auto;
}

/* réalisation du hover sur la barre de droite */
#psuiv:hover{
    height: 12vh;
    background-color: #C76C36;
}